* {
  box-sizing: border-box;
}

/* 
.boxtop {
    position: relative;
    width: 100%;
    height: 100px;
    background: #fff;
}

.boxmid {
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0%;
    background: #ccc;
}
*/

.container {
    position: relative;
    margin: 0 auto;
    width: 960px;
    height: 960px;
    background: #fff;
}

body {
    background: #ddd;
}

#head {
    float: left;
    border: 1px solid black;
    font-family: 'Georgia', Times, Times New Roman, serif;
    padding: 20px;
    margin-bottom: 20px;
    color: #FFF;
    background: #4aaaa5;
}

#menu {
    float: right;
    border: 1px solid black;
    font-size: 20px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    margin-top: 70px;
    color: #4aaaa5;   
  }

li {
    display: inline-block;
    margin: 0 10px;
    vertical-align: top;
    color: #4aaaa5;
  }

.link {
    color: #4aaaa5;
    text-decoration: none;
  }

h2 {
    float: left;
    font-family: 'Georgia', Times, Times New Roman, serif;
    padding: 20px;
    margin-bottom: 20px;
    color: #4aaaa5;
    background: #fff;
}

#full {
    float: right;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size-adjust: inherit; 
    width: 100%;
    overflow: auto;
    color: #777;
    background: #fff;
}

aside {
    float: left;
    padding: 20px;
}

.nick {
    height: 200px;
    width: 200px;
}

.ctext {
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  color: #4aaaa5;
}

#submit {
  font-family: 'Georgia', Times, Times New Roman, serif;
  padding: 20px;
  margin-bottom: 20px;
  color: #FFF;
  background: #4aaaa5;
  font-size: 15px;
}


.box-set {
    position: relative;
    height: 500px;
    background: #fff;
  }
  
  .box {
    /* Absolute Position */
    position: absolute;
  }
  
  .box-1 {
    top: 0%;
    left: 0%;
    margin: 20px;
  }
  
  .box-2 {
    top: 0%;
    left: 33%;
    margin: 20px;
  }
  
  .box-3 {
    top: 33%;
    left: 0%;
    margin: 20px;
  }
  
  .box-4 {
    top: 33%;
    left: 33%;
    margin: 20px;
  }

  .box-5 {
    top: 66%;
    left: 0%;
    margin: 20px 20px 40px 20px;
  }
  
  .box .text {
    position: absolute;
    background-color: #4aaaa5;
    padding: 8px;
    left: 0;
    right: 0;
    top: 55%; /* Adjust this value to move the positioned div up and down */
    text-align: center;
  }

  .link1 {
    color: #fff;
    background-color: #4aaaa5;
    text-decoration: none;
    padding: 8px;
    font-size: 16px;
  }

.link1 {
    color: #fff;
    background-color: #4aaaa5;
    text-decoration: none;
  }

footer {
    position: absolute;
    top: 960px;
    width: 100%;
    text-align: center;
    font-size: 10px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
    clear: both;
    color: #fff;
    background: #666;
}