* {
  box-sizing: border-box;
}

/* Classes and IDs that apply to every page */
.boxtop {
    position: relative;
    width: 100%;
    height: 100px;
    background: #fff;
}

.boxmid {
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0%;
    background: #ccc;
}

.boxend {
    position: absolute;
    width: 100%;
    top: 917px;
    text-align: center;
    font-size: 10px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    background: #666;
}

body {
    background: #ddd;
}

#head {
    position: absolute;
    left: 187px;
    bottom: -19px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    padding: 20px;
    color: #FFF;
    background: #4aaaa5;
}

#menu {
    position: absolute;
    right: 200px;
    bottom: 0px;
    font-size: 20px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    margin-top: 70px;
    color: #4aaaa5;   
  }

li {
    display: inline-block;
    margin: 0 10px;
    vertical-align: top;
    color: #4aaaa5;
  }

.link {
    color: #4aaaa5;
    text-decoration: none;
  }

.container {
    position: relative;
    margin: 0 auto;
    width: 960px;
    height: 860px;
    background: #fff;
}

h2 {
    float: left;
    font-family: 'Georgia', Times, Times New Roman, serif;
    padding: 20px 20px 10px 20px;
    color: #4aaaa5;
    background: #fff;
}

.boxcont {
    position: absolute;
    width: 920px;
    top: 80px;
    height: 5px;
    margin-left: 20px;
    background: #4aaaa5;
}

footer {
  position: absolute;
  width: 100%;
  top: 912px;
  height: 5px;
  background: #4aaaa5;
}

/* These Classes and IDs apply to only the About page
 except for full, which applies to About and Contact */
#full {
    float: right;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 18px;
    width: 100%;
    overflow: auto;
    color: #777;
    background: #fff;
}

aside {
    float: left;
    padding-right: 20px;
    padding-top: 20px;
}

.nick {
    height: 350px;
    width: 250px;
}

/* These classes and IDs apply to the Contact page */
.ctext {
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  color: #4aaaa5;
}

#submit {
  position: absolute;
  top: 450px;
  font-family: 'Georgia', Times, Times New Roman, serif;
  padding: 20px;
  margin: 20px;
  color: #FFF;
  background: #4aaaa5;
  font-size: 15px;
  text-decoration: none;
}

/* These classes and IDs apply ti the Portfolio page */
.box-set {
    position: relative;
    top: 120px;
    height: 500px;
    background: #fff;
  }
  
  .box {
    /* Absolute Position */
    position: absolute;
  }
  
  .box-1 {
    top: 0%;
    left: 0%;
    margin: 20px;
  }
  
  .box-2 {
    top: 0%;
    left: 33%;
    margin: 20px;
  }
  
  .box-3 {
    top: 40%;
    left: 0%;
    margin: 20px;
  }
  
  .box-4 {
    top: 40%;
    left: 33%;
    margin: 20px;
  }

  .box-5 {
    top: 80%;
    left: 0%;
    margin: 20px;
  }

  .box-6 {
    top: 80%;
    left: 33%;
    margin: 20px;
  }

  .box-7 {
    top: 0%;
    left: 66%;
    margin: 20px;
  }

  .box-8 {
    top: 40%;
    left: 66%;
    margin: 20px;
  }
  
  .box .text {
    position: absolute;
    background-color: #4aaaa5;
    padding: 8px;
    left: 0;
    right: 0;
    top: 55%; /* Adjust this value to move the positioned div up and down */
    text-align: center;
  }

  .link1 {
    color: #fff;
    background-color: #4aaaa5;
    text-decoration: none;
    padding: 8px;
    font-size: 16px;
  }